/* 6.1 */
.btn-6-1 {
  display: inline-block;
  margin: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  color: white;
  background: #ff7873;
  cursor: pointer;
}
.btn-6-1.hit-area-border {
  box-sizing: content-box;
  border: 10px solid transparent;
  background-clip: padding-box;
}
.btn-6-1.hit-area {
  position: relative;
  margin: 14px;
}
.btn-6-1.hit-area::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}
/* 6.2 */
input.checkbox {
  /* 隐藏 input 元素 */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
input.checkbox + label {
  position: relative;
  cursor: pointer;
  padding-left: 1.4em;
  margin-right: 1em;
}
input.checkbox + label::before {
  position: absolute;
  left: 0;
  top: 0;
  font-family:'FontAwesome'; 
  content: '\f096'; /* fa-square-o */
  font-size: 1.2em;
  line-height: 100%; /* 重要，行高为文字的高度 */
}
input.checkbox:checked + label::before {
  content: '\f14a'; /* fa-check-square */
  color: #69c0ff;
}
/* 6.3 */
.show {
  display: block !important;
}
.overlay {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay .lightbox {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background: #eee;
}
.overlay .lightbox .lightbox-header {
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
  font-size: 1.25rem;
  line-height: 1.5;
}
.overlay .lightbox .lightbox-header h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.overlay .lightbox .lightbox-header i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.overlay .lightbox .lightbox-content {
  padding: 10px;
}
.overlay .lightbox .lightbox-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: right;
}
/* 6.5 */
.scrolling-hints {
  width: 12em;
  height: 8em;
  margin-right: 10px;
  overflow: auto;
  border: 1px solid #ccc;
}
.scrolling-hints li {
  list-style: none;
}
.scrolling-hints.step1 {
  background: radial-gradient(at top, rgba(0, 0, 0, .2), transparent 70%);
  background-size: 100% 15px;
  background-repeat: no-repeat;
}
.scrolling-hints.step2 {
  background: linear-gradient(#f8f8fd, #f8f8fd),
              radial-gradient(at top, rgba(0, 0, 0, .2), transparent 70%);
  background-size: 100% 15px;
  background-repeat: no-repeat;
  background-attachment: local, scroll; /*scroll为默认值*/
}
.scrolling-hints.step3 {
  background: linear-gradient(#f8f8fd 30%, rgba(255, 255, 255,0)),
              radial-gradient(at top, rgba(0, 0, 0, .2), transparent 70%);
  background-size: 100% 50px, 100% 15px;
  background-repeat: no-repeat;
  background-attachment: local, scroll;
}
.scrolling-hints.step4 {
  background: linear-gradient(#f8f8fd 30%, rgba(255, 255, 255,0)) 
                top / 100% 50px local,
              radial-gradient(at top, rgba(0, 0, 0, .2), transparent 70%) 
                top / 100% 15px scroll,
              linear-gradient(to top, #f8f8fd 30%, rgba(255, 255, 255,0)) 
                bottom / 100% 50px local,
              radial-gradient(at bottom, rgba(0, 0, 0, .2), transparent 70%) 
                bottom / 100% 15px scroll;
  background-repeat: no-repeat;
}
