/* 7.1 */
.self-adaption-7-1 {
  padding: 10px;
  border: 1px solid #ccc;
}
.self-adaption-7-1 img {
  width: 200px;
}
.self-adaption-7-1.step1 {
  max-width: 300px; /* 回退样式 */
  max-width: min-content;
}
.self-adaption-7-1.step1 > img {
  max-width: inherit;/* 重要 */
}
/* 7.2 */
.sibling-count-7-2 span,
.sibling-count-7-2 input {
  vertical-align: middle;
}
.sibling-count-7-2 ul.container {
  padding: 0;
}
.sibling-count-7-2 ul.container li {
  display: inline-block;
  width: 30px;
  height: 30px;
  list-style: none;
  margin-right: 5px !important;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  color: white !important;
  background: #ff7873;
  opacity: .65;
}
.sibling-count-7-2.demo1 li:only-child {
  opacity: 1;
}
.sibling-count-7-2.demo2 li:first-child:nth-last-child(4){
  opacity: 1;
}
.sibling-count-7-2.demo3 li:first-child:nth-last-child(4),
.sibling-count-7-2.demo3 li:first-child:nth-last-child(4) ~ li {
  opacity: 1;
}
.sibling-count-7-2.demo4 li:nth-child(n+3) {
  opacity: 1;
}
.sibling-count-7-2.demo5 li:first-child:nth-last-child(n+4),
.sibling-count-7-2.demo5 li:first-child:nth-last-child(n+4) ~ li {
  opacity: 1;
}
.sibling-count-7-2.demo6 li:first-child:nth-last-child(-n+6),
.sibling-count-7-2.demo6 li:first-child:nth-last-child(-n+6) ~ li {
  opacity: 1;
}
.sibling-count-7-2.demo7 li:first-child:nth-last-child(n+4):nth-last-child(-n+6),
.sibling-count-7-2.demo7 li:first-child:nth-last-child(n+4):nth-last-child(-n+6) ~ li {
  opacity: 1;
}
/* 7.3 */
.wrapper-7-3 {
  padding: 10px;
  border-radius: 5px;
  color: #f5f5f5;
  background: #40a9ff;
}
.wrapper-7-3 div {
  width: 300px;
  margin: auto;
  text-align: justify;
}
.wrapper-7-3 div h5 {
  font-weight: bold;
  text-align: center;
}
.fluid-fixed-7-3 {
  padding: 10px; /* 回退方案 */
  padding: 10px calc(50% - 150px);
  border-radius: 5px;
  color: #f5f5f5;
  background: #40a9ff;
}
.fluid-fixed-7-3 h5 {
  font-weight: bold;
  text-align: center;
}
.fluid-fixed-7-3 p {
  text-align: justify;
}
/* 7.4 */
.container-7-4 {
  height: 150px;
  background: #ff7873;
}
.container-7-4,
.container-7-4  .center {
  padding: 10px;
  border-radius: 5px;
}
.container-7-4 .center {
  border: 1px solid white;
}
.container-7-4.plan1 {
  display: table;
  width: 100%;
}
.container-7-4.plan1 .center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.container-7-4.plan2 {
  position: relative;
}
.container-7-4.plan2 .center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -55px;
  width: 150px;
  height: 110px;
  box-sizing: border-box;
}
.container-7-4.plan3 {
  position: relative;
}
.container-7-4.plan3 .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.container-7-4.plan4 {
  display: flex;
}
.container-7-4.plan4 .center {
  margin: auto;
}
/* 7.5 */
.container-7-5 {
  position: relative;
  height: 400px;
  border: 1px solid #ccc;
  overflow-y: scroll;
  border-radius: 5px;
}
.container-7-5 header,
.container-7-5 main,
.container-7-5 footer {
  width: 50%;
  margin: auto;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  box-shadow: none;
  text-align: center;
}
.container-7-5 header,
.container-7-5 footer {
  height: 35px;
  line-height: 35px;
}
.container-7-5 header {
  background: #ff7873;
}
.container-7-5 main {
  margin: 15px auto;
  background: #ffc069;
  cursor: pointer;
}
.container-7-5 footer {
  background: #69c0ff;
}
.container-7-5.plan1 main {
  min-height: calc(100% - 100px);
}
.container-7-5 main * {
  user-select: none;
}
.container-7-5.plan2 {
  display: flex;
  flex-direction: column;
}
.container-7-5.plan2 main {
  flex-grow: 1;
  flex-shrink: 0;
}
