/* 7.1 */
.self-adaption-7-1 {
  padding: 10px;
  border: 1px solid #ccc;
}
.self-adaption-7-1 img {
  width: 200px;
}
.self-adaption-7-1.step1 {
  max-width: 300px; /* 回退样式 */
  max-width: min-content;
}
.self-adaption-7-1.step1 > img {
  max-width: inherit;/* 重要 */
}
/* 7.2 */
.sibling-count-7-2 span,
.sibling-count-7-2 input {
  vertical-align: middle;
}
.sibling-count-7-2 ul.container {
  padding: 0;
}
.sibling-count-7-2 ul.container li {
  display: inline-block;
  width: 30px;
  height: 30px;
  list-style: none;
  margin-right: 5px !important;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  color: white !important;
  background: #ff7873;
  opacity: .65;
}
.sibling-count-7-2.demo1 li:only-child {
  opacity: 1;
}
.sibling-count-7-2.demo2 li:first-child:nth-last-child(4){
  opacity: 1;
}
.sibling-count-7-2.demo3 li:first-child:nth-last-child(4),
.sibling-count-7-2.demo3 li:first-child:nth-last-child(4) ~ li {
  opacity: 1;
}
