.bg-red-4 {
  background-color: #ff7875;
}
.bg-blue-4 {
  background-color: #69c0ff;
}
.bg-origin-4 {
  background-color: #ffc069;
}
.bg-green-4 {
  background-color: #95de64;
}
.bg-gray-6 {
  background-color: #bfbfbf;
}
.box-100 {
  width: 100px;
  height: 100px;
}
.box-110 {
  width: 110px;
  height: 110px;
}
.box-300-100 {
  width: 300px;
  height: 100px;
}
.box-600-100 {
  width: 600px;
  height: 100px;
}
.margin-btm-14 {
  margin-bottom: 14px;
}
.auto-box {
  width: 100%;
  height: 100%;
}
.padding-10 {
  padding: 10px;
}
.outline {
  outline: 1px solid #8c8c8c;
}
/* 动画 */
.hover-fade {
  opacity: 0.8;
  transition: all 0.5s;
}
.hover-fade:hover {
  opacity: 1;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
/* 2.1 */
.translucence-border-before,
.translucence-border-after {
  border: 10px solid hsla(0, 0%, 100%, 0.5);
  background: #ff7875;
}
.translucence-border-after {
  background-clip: padding-box;
}
/* 2.2 */
.multi-border-1 {
  margin: 30px;
  background: #ff7875;
  box-shadow: 0 0 0 10px #69c0ff, 0 0 0 20px #ffc069, 0 0 0 30px #95de64;
}
.multi-border-2 {
  margin: 10px;
  background: #ff7875;
  border: 10px solid #69c0ff;
  outline: 10px solid #ffc069;
}
/* 2.3 */
.bg-position-1 {
  background: url("/svg/css3.svg") no-repeat right bottom #ff7875;
  background-position: right 10px bottom 10px;
}
.bg-position-2 {
  background: url("/svg/css3.svg") no-repeat right bottom #ff7875;
  background-origin: content-box;
}
.bg-position-3 {
  background: url("/svg/css3.svg") no-repeat right bottom #ff7875;
  background-position: calc(100% - 10px) calc(100% - 10px);
}
/* 2.4 */
.outer-2-4 {
  padding: 5px;
}
.inner-2-4 {
  padding: 5px;
  border-radius: 5px;
}
.inner-rounding {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #69c0ff;
  outline: 5px solid #69c0ff;
}
/* 2.5 */
.stripe-1 {
  background: linear-gradient(#ff7875, #69c0ff);
}
.stripe-2 {
  background: linear-gradient(#ff7875 40%, #69c0ff 60%);
}
.stripe-3 {
  background: linear-gradient(#ff7875 50%, #69c0ff 50%);
}
.stripe-4 {
  background: linear-gradient(#ff7875 50%, #69c0ff 50%);
  background-size: 100% 20px;
}
.stripe-5 {
  background: linear-gradient(#ff7875 50%, #69c0ff 0);
  background-size: 100% 20px;
}
.vertical-stripe {
  background: linear-gradient(to right, /* 或 90deg */ #ff7875 50%, #69c0ff 0);
  background-size: 20px 100%;
}
.diagonal-stripe-1 {
  background: repeating-linear-gradient(45deg, #ff7875, #69c0ff 20px);
}
.diagonal-stripe-2 {
  background: repeating-linear-gradient(
    45deg,
    #ff7875,
    #ff7875 10px,
    #69c0ff 0,
    #69c0ff 20px
  );
}
/* 2.6 */
.grid {
  background: #fff;
  background-image: linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 0),
                    linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 0);
  background-size: 20px 20px;
}
.polka {
  background: #fff;
  background-image: radial-gradient(#ff7875 30%, transparent 0),
                    radial-gradient(#ff7875 30%, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.checkerboard {
  background: #eee;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, .25) 0),
                    linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, .25) 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px
}
