.bg-red-4 {
  background-color: #ff7875;
}
.bg-blue-4 {
  background-color: #69c0ff;
}
.bg-origin-4 {
  background-color: #ffc069;
}
.bg-green-4 {
  background-color: #95de64;
}
.bg-gray-6 {
  background-color: #bfbfbf;
}
.box-100 {
  width: 100px;
  height: 100px;
}
.box-110 {
  width: 110px;
  height: 110px;
}
.height-100 {
  height: 100px;
}
.container {
  width: 100%;
}
.container > div {
  margin-right: 5px;
  margin-bottom: 5px;
}
.margin-btm-14 {
  margin-bottom: 14px;
}
.auto-box {
  width: 100%;
  height: 100%;
}
.padding-10 {
  padding: 10px;
}
.outline {
  outline: 1px solid #8c8c8c;
}
/* 动画 */
.hover-fade {
  opacity: 0.8;
  transition: all 0.5s;
}
.hover-fade:hover {
  opacity: 1;
}
.flex-auto {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
/* 2.1 */
.translucence-border-before,
.translucence-border-after {
  border: 10px solid hsla(0, 0%, 100%, 0.5);
  background: #ff7875;
}
.translucence-border-after {
  background-clip: padding-box;
}
/* 2.2 */
.multi-border-1 {
  margin: 30px;
  background: #ff7875;
  box-shadow: 0 0 0 10px #69c0ff, 0 0 0 20px #ffc069, 0 0 0 30px #95de64;
}
.multi-border-2 {
  margin: 10px;
  background: #ff7875;
  border: 10px solid #69c0ff;
  outline: 10px solid #ffc069;
}
/* 2.3 */
.bg-position-1 {
  background: url("/svg/css3.svg") no-repeat right bottom #ff7875;
  background-position: right 10px bottom 10px;
}
.bg-position-2 {
  background: url("/svg/css3.svg") no-repeat right bottom #ff7875;
  background-origin: content-box;
}
.bg-position-3 {
  background: url("/svg/css3.svg") no-repeat right bottom #ff7875;
  background-position: calc(100% - 10px) calc(100% - 10px);
}
/* 2.4 */
.outer-2-4 {
  padding: 5px;
}
.inner-2-4 {
  padding: 5px;
  border-radius: 5px;
}
.inner-rounding {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #69c0ff;
  outline: 5px solid #69c0ff;
}
/* 2.5 */
.stripe-1 {
  background: linear-gradient(#ff7875, #69c0ff);
}
.stripe-2 {
  background: linear-gradient(#ff7875 40%, #69c0ff 60%);
}
.stripe-3 {
  background: linear-gradient(#ff7875 50%, #69c0ff 50%);
}
.stripe-4 {
  background: linear-gradient(#ff7875 50%, #69c0ff 50%);
  background-size: 100% 20px;
}
.stripe-5 {
  background: linear-gradient(#ff7875 50%, #69c0ff 0);
  background-size: 100% 20px;
}
.vertical-stripe {
  background: linear-gradient(to right, /* 或 90deg */ #ff7875 50%, #69c0ff 0);
  background-size: 20px 100%;
}
.diagonal-stripe-1 {
  background: repeating-linear-gradient(45deg, #ff7875, #69c0ff 20px);
}
.diagonal-stripe-2 {
  background: repeating-linear-gradient(
    45deg,
    #ff7875,
    #ff7875 10px,
    #69c0ff 0,
    #69c0ff 20px
  );
}
/* 2.6 */
.grid {
  background: #fff;
  background-image: linear-gradient(rgba(200, 0, 0, 0.5) 50%, transparent 0),
                    linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 0);
  background-size: 20px 20px;
}
.polka {
  background: #fff;
  background-image: radial-gradient(#ff7875 30%, transparent 0),
                    radial-gradient(#ff7875 30%, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.checkerboard {
  background: #eee;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, .25) 0),
                    linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, .25) 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px
}
/* 2.7 */
.border-2-7 {
  position: absolute;
  width: 240px;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px #000 dashed;
}
.random-stripes {
  position: relative;
  background: #ff7875;
  background-image: linear-gradient(90deg, #69c0ff 10px, transparent 0),
                    linear-gradient(90deg, #ffc069 20px, transparent 0),
                    linear-gradient(90deg, #95de64 20px, transparent 0);
  background-size: 80px 100%, 60px 100%, 40px 100%;
}
.cicada-stripes {
  background: #ff7875;
  background-image: linear-gradient(90deg, #69c0ff 11px, transparent 0),
                    linear-gradient(90deg, #ffc069 23px, transparent 0),
                    linear-gradient(90deg, #95de64 41px, transparent 0);
  background-size: 41px 100%, 61px 100%, 83px 100%;
}
/* 2.8 */
.outer-2-8 {
  width: 200px;
  height: 132px;
  padding: 10px;
  background: url('/images/2019-06-01-css-secrets/book.jpg');
  background-size: cover;
}
.inner-2-8 {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #fff;
}
.continuous-image-borders {
  width: 200px;
  height: 132px;
  padding: 10px;
  border: 10px solid transparent;
  background: linear-gradient(#fff, #fff),
              url('/images/2019-06-01-css-secrets/book.jpg');
  background-clip: padding-box, border-box;
  background-size: cover;
}
.continuous-image-borders.correct {
  background-origin: border-box;
}
.continuous-image-borders-opt {
  width: 200px;
  height: 132px;
  padding: 10px;
  border: 10px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
              url('/images/2019-06-01-css-secrets/book.jpg') border-box 0 0 / cover;
}
.vintage-envelope {
  width: 200px;
  height: 132px;
  padding: 1em;
  border: 1em solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
              repeating-linear-gradient(-45deg, 
              red 0, red 12.5%, 
              transparent 0, transparent 25%,
              #58a 0, #58a 37.5%,
              transparent 0, transparent 50%
              ) 0 / 4em 4em;
}
@keyframes ants {
  to { background-position: 100%; }
}
.marching-ants {
  width: 200px;
  height: 132px;
  padding: 1em;
  border: 1px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box,
              repeating-linear-gradient(-45deg, 
              #fff 0, #fff 12.5%, 
              transparent 0, transparent 25%,
              #000 0, #000 37.5%,
              transparent 0, transparent 50%
              ) 0 / .6em .6em;
  animation: ants 12s linear infinite;
}
/* 3.1 */
.box-1_3-1 {
  width: 100px;
  height: 100px;
  background-color: #ff7875;
}
.box-2_3-1 {
  width: 150px;
  height: 100px;
  background-color: #ff7875;
}
.adaptive-ellipse {
  border-radius: 50%;
}
.adaptive-half-ellipse-ver {
  border-radius: 50% / 100% 100% 0 0;
  /* border-radius: 50% 50% 100% 100% / 100% 100% 0 0; */
  /* border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}
.adaptive-half-ellipse-hor {
  border-radius: 0 100% 100% 0 / 50%;
}
.adaptive-quarter-ellipse {
  border-radius: 100% 0 0 0;
}
/* 3.2 */
.box-3-2 {
  width: 120px;
  height: 50px;
  margin-left: 20px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
.parallelogram-1 {
  transform: skewX(-30deg);
  background: #ff7875;
}
.parallelogram-2 {
  transform: skewX(30deg);
}
.parallelogram {
  position: relative;
  z-index: 0; /* 修复和页面样式冲突的bug */
}
.parallelogram::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ff7875;
  transform: skew(-30deg);
  z-index: -1;
}
/* 3.3 */
.box-3-3-1 {
  width: 200px;
  height: 200px;
  border: 1px #ccc dashed;
  margin: 50px;
}
.rhombus {
  transform: rotate(45deg);
  overflow: hidden;
}
.rhombus img {
  width: 100%;
  transform: rotate(-45deg);
}
.rhombus img.scale {
  width: 100%;
  transform: rotate(-45deg) scale(1.42);
}
.box-3-3-2 {
  width: 300px;
  height: 200px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: clip-path 1s;
}
.box-3-3-2:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/* 3.4 */
.single-clip-corner {
  background: #ff7875;
  background: linear-gradient(-45deg, transparent 15px, #ff7875 0);
}
.btm-clip-corner {
  background: #ff7875;
  background: linear-gradient(-45deg, transparent 15px, #ff7875 0),
              linear-gradient(45deg, transparent 15px, #69c0ff 0);
}
.btm-clip-corner-2 {
  background: #ff7875;
  background: linear-gradient(-45deg, transparent 15px, #ff7875 0) right,
              linear-gradient(45deg, transparent 15px, #69c0ff 0) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
.four-clip-corner {
  background: #ff7875;
  background: linear-gradient(135deg, transparent 15px, #ff7875 0) left top,
              linear-gradient(-135deg, transparent 15px, #69c0ff 0) right top,
              linear-gradient(-45deg, transparent 15px, #ff7875 0) right bottom,
              linear-gradient(45deg, transparent 15px, #69c0ff 0) left bottom;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
.scoop-corners {
  background: #ff7875;
  background: radial-gradient(circle at top left, transparent 15px, #ff7875 0) left top,
              radial-gradient(circle at top right, transparent 15px, #69c0ff 0) right top,
              radial-gradient(circle at bottom right, transparent 15px, #ff7875 0) right bottom,
              radial-gradient(circle at bottom left, transparent 15px, #69c0ff 0) left bottom;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
/* 3.5 */
.trapezoid {
  position: relative;
  width: fit-content;
  padding: 0 .8em;
  z-index: 0;
}
.trapezoid::after {
  position: absolute;
  content: '';
  top: 0; right: 0; bottom: 0; left: 0;
  transform: scaleY(1.3) perspective(.5em) rotateX(5deg);
  transform-origin: bottom;
  background: #ff7875;
  z-index: -1;
}
ul.nav-3-5 {
  padding-left: .8em;
  margin-bottom: 0;
}
ul.nav-3-5 > li {
  position: relative;
  display: inline-block;
  margin: 0 -.4em !important;
  padding: .3em 1em 0;
  cursor: pointer;
  z-index: 0;
}
ul.nav-3-5 > li::before,
.content-3-5 {
  border: 1px solid rgba(0, 0, 0, .4);
}
ul.nav-3-5 > li::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #ccc;
  background-image: linear-gradient(
    hsla(0, 0%, 100%, .6), 
    hsla(0, 0%, 100%, 0));
  border: 1px solid rgba(0, 0, 0, .4);
  border-bottom: none;
  border-radius: .5em .5em 0 0;
  box-shadow: 0 .15em white inset;
  transform: scale(1, 1.3) perspective(.5em) rotateX(5deg);
  transform-origin: bottom;
  z-index: -1;
}
.content-3-5 {
  margin-bottom: 1em;
  background: #eee;
  padding: 1em;
  border-radius: .15em;
}
ul.nav-3-5 li.selected {
   z-index: 2;
}
ul.nav-3-5 li.selected::before {
  background-color: #eee;
  margin-bottom: -1px;
}
/* 3.6 */
.circle-3-6 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff7875;
  background-image: linear-gradient(to right, transparent 50%, #69c0ff 0);
}
.circle-3-6.stage-2::after {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border: 1px dashed #ccc;
}
.circle-3-6.stage-3::after {
  background-color: inherit;
  transform: rotate(0.2turn);
  transform-origin: left;
}
.circle-3-6.stage-4::after {
  border-radius: 0 100% 100% 0 / 50%;
  border: none;
}
.circle-3-6.turn-70::after {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform: rotate(0.7turn);
  transform-origin: left;
}
.circle-3-6.turn-70-right::after {
  background-color: #69c0ff;
  transform: rotate(0.2turn);
}
@keyframes bg-color {
  50% {
    background-color: #69c0ff;
  }
}
@keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}
.pointer::after {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
}
.circle-3-6.auto-run::after {
  animation: bg-color 6s step-end infinite,
             spin 3s linear infinite;
}
.pie {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px; /* 文字垂直居中 */
  border-radius: 50%;
  background-color: #ff7875;
  background-image: linear-gradient(to right, transparent 50%, #69c0ff 0);
  text-align: center; /* 文字水平居中 */
  color: transparent; /* 隐藏文字 */
}
.pie::after {
  content: '';
  position: absolute; /* 绝对定位 */
  display: block;
  top: 0; right: 0;
  width: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  animation: bg-color 100s step-end infinite,
             spin 50s linear infinite;
  animation-delay: inherit; /* 继承自 .pie 元素 */
  animation-play-state: paused; /* 动画暂定 */
}
circle.stage-1 {
  fill: #ff7875;
  stroke: #69c0ff;/* stroke 属性定义了给定图形元素的外轮廓的颜色 */
  stroke-width: 30;/* stroke-width 属性指定了当前对象的轮廓的宽度 */
}
circle.stage-2 {
  stroke-dasharray: 20 11.5;
}
circle.stage-3 {
  stroke-dasharray: 20 189;
}
circle.stage-4 {
  fill: #ff7875;
  stroke: #69c0ff;
  stroke-width: 50;
  stroke-dasharray: 20 158;
}
svg.final {
  transform: rotate(-90deg);
  border-radius: 50%;
  background-color: #ff7875;
}
@keyframes fillup {
  to {
    stroke-dasharray: 158 158;
  }
}
circle.animation {
  fill: #ff7875;
  stroke: #69c0ff;
  stroke-width: 50;
  stroke-dasharray: 0 158;
  animation: fillup 6s linear infinite;
}
.pie-svg {
  display: inline-block;
  width: 100px;
  height: 100px;
}
@keyframes grow {
  to {
    stroke-dasharray: 100 100;
  }
}
.pie-svg.animated circle {
  animation: grow 6s linear infinite;
}
/* 4.1 */
.bottom-shadow-4-1 {
  box-shadow: 0 5px 4px black;
}
.bottom-shadow-4-1-correct {
  box-shadow: 0 5px 4px -4px black;
}
/* 邻边 */
.sides-shadow-4-2 {
  box-shadow: 4px 4px 6px -3px black;
}
/* 双侧 */
.opposite-sides-shadow-4-3 {
  box-shadow: 5px 0 5px -5px black,
              -5px 0 5px -5px black;
}
/* 4.2 */
.box-4-2 {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 14px;
  text-align: center;
  line-height: 100px;
}
.speech-bubble {
  background-color: #ff7875;
  border-radius: 5px;
}
.speech-bubble::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 100%;
  margin-top: -10px;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-right: none;
  border-left-color: #ff7875;
}
.dotted-border {
  border: 4px dotted #ff7875;
}
.cutout-corners {
  background: linear-gradient(135deg, transparent 15px, #ff7875 0) left top,
              linear-gradient(-135deg, transparent 15px, #ff7875 0) right top,
              linear-gradient(-45deg, transparent 15px, #ff7875 0) right bottom,
              linear-gradient(45deg, transparent 15px, #ff7875 0) left bottom;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
.shadow-4-2 {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
}
.filter-4-2 {
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, .5));
}
/* 4.3 */
.frosted-glass-4-2 {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.frosted-glass-4-2 div {
  position: relative;
  margin: 150px auto;
  width: 60%;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  background: hsla(0, 0%, 100%, .25) border-box;
  z-index: 1;
}
.frosted-glass-4-2,
.frosted-glass-4-2 div::after {
  background: url('/images/2019-06-01-css-secrets/book.jpg') 0 / cover fixed;
}
.frosted-glass-4-2 div::after {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  filter: blur(4px);
  z-index: -1;
}
/* 4.4 */
.folded-corner-4-4 {
  width: 150px;
  height: 100px;
  background: #ff7875;
  line-height: 100px;
  text-align: center;
  border: 1px dashed #ccc;
}
.folded-corner-4-4.step-1 {
  background: linear-gradient(-135deg, transparent 1.42em, #ff7873 0);
}
.folded-corner-4-4.step-2 {
  background: linear-gradient(45deg, rgba(0, 0, 0, .4) 1.42em, transparent 0) top right / 2em 2em no-repeat;
}
.folded-corner-4-4.step-3 {
  background: linear-gradient(45deg, rgba(0, 0, 0, .4) 1.42em, transparent 0) top right / 2em 2em no-repeat,
              linear-gradient(-135deg, transparent 1.42em, #ff7873 0);
  border: none;
}
.folded-corner-4-4.step-4 {
  background: linear-gradient(30deg, rgba(0, 0, 0, .4) 1.42em, transparent 0) top right / 2.84em 1.64em no-repeat,
              linear-gradient(-150deg, transparent 1.42em, #ff7873 0);
  border: none;
}
.folded-corner-4-4.step-5 {
  display: inline-block;
  position: relative;
  margin-right: 14px;
  background: linear-gradient(-150deg, transparent 1.42em, #ff7873 0);
  border: none;
}
.folded-corner-4-4.step-5::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2.84em;
  height: 1.64em;
  background: linear-gradient(-30deg, rgba(0, 0, 0, .4) 50%, transparent 0);
}
.folded-corner-4-4.step-6::before {
  transform: rotate(60deg);
}
.folded-corner-4-4.step-7 {
  border-radius: .4em;
}
.folded-corner-4-4.step-7::before {
  background: linear-gradient(-30deg, 
              rgba(0, 0, 0, .4) 0, 
              rgba(0, 0, 0, .2) 50%, 
              transparent 0);
  border-bottom-right-radius: inherit;
  box-shadow: .2em .2em .3em -.1em rgba(0, 0, 0, .15);
}
/* 5.1 */
.box-5-1 {
  display: inline-block;
  margin: 0 14px 14px 0;
  width: 300px;
  padding: 10px;
  background: #ff7873;
  border-radius: 5px;
}
.box-5-1.step-1 {
  text-align: justify;
}
.box-5-1.step-2 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
/* 5.2 */
dl.wrap-5-2 {
  padding: 10px;
  background: #ff7873;
  border-radius: 5px;
}
dl.wrap-5-2 dt,
dl.wrap-5-2 dd {
  display: inline; /* 取 inline-block 时，换行符 \A 无效 */
  margin-inline-start: 0;
}
dl.wrap-5-2 dd {
  font-weight: bold;
}
dl.wrap-5-2 dt::after {
  content: ': ';
}
dl.wrap-5-2 dd + dt::before {
  content: '\A'; /* \000A 或 \A 表示换行符 */
  white-space: pre; /* 连续的空白符会被保留。在遇到换行符或者<br>元素时才会换行。 */
}
dl.wrap-5-2 dd + dd::before {
  content: ', ';
}
/* 5.3 */
pre.zebra-5-3{
  padding: 0 1em;
  line-height: 1.5;
  background-color: #f2f2f2;
  /* background-image: repeating-linear-gradient(
                    rgba(255,120,115,.1), 
                    rgba(255,120,115,.1) 1.5em, 
                    transparent 0, 
                    transparent 3em); */
  background-image: linear-gradient(rgba(255,120,115,.1) 50%, transparent 0);
  background-size: auto 3em;
  background-origin: content-box;
}
pre.zebra-5-3 code {
  background: none;
  color: #333;
}
/* 5.4 */
.box-5-4 {
  margin-bottom: 14px;
  width: 100%;
  padding: 10px;
  background: rgba(255, 120, 115, .5);
}
.underline-5-4 span {
  background: linear-gradient(gray, gray) no-repeat;
  background-size: 100% 1px;
  background-position: 0 1em;
}
.underline-5-4-dashed span {
  background: linear-gradient(90deg, gray 66%, transparent 0) repeat-x;
  background-size: 1em 1px;
  background-position: 0 1em;
}
.underline-5-4-wave span {
  font-size: 20px;
  background: linear-gradient(-45deg, transparent 40%, red 0, red 60%, transparent 0) 0 1em, /* 0 1em 为 background-position */
              linear-gradient(45deg, transparent 40%, red 0, red 60%, transparent 0) .1em 1em;
  background-repeat: repeat-x;
  background-size: .2em .1em;
}
/* 5-5 */
.font-5-5-1 {
  display: inline-block;
  margin: 0 14px 14px 0;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  border-radius: 5px;
  background: hsl(210, 13%, 60%);
  color: hsl(210, 13%, 30%);
}
.font-5-5-1.shadow-1 {
  text-shadow: 0 .05em .05em hsla(0, 0%, 100%, .8);
}
.font-5-5-1.reverse {
  background: hsl(210, 13%, 40%);
  color: hsl(210, 13%, 75%);
}
.font-5-5-1.reverse.shadow-1 {
  text-shadow: 0 -0.05em .05em black;
}
.font-5-5-2 {
  display: table;
  margin-bottom: 14px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background: #ff7873;
} 
.font-5-5-2.stroked-text {
  text-shadow: 1px 1px #333, 1px -1px #333,
               -1px 1px #333, -1px -1px #333;
}
.font-5-5-3 {
  display: table;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  color: #ff7873;
}
.font-5-5-3.glow {
  text-shadow: 0 0 .1em, 0 0 .3em;
}
.font-5-5-3.glow-hover {
  cursor: pointer;
  transition: text-shadow 1s;
}
.font-5-5-3.glow-hover:hover {
  text-shadow: 0 0 .1em, 0 0 .3em;
}
.font-5-5-4 {
  display: inline-block;
  margin-bottom: 14px;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  background: #58a;
}
.font-5-5-4.extruded {
  text-shadow: 0 1px hsl(0,0%,85%),
               0 2px hsl(0,0%,80%),
               0 3px hsl(0,0%,75%),
               0 4px hsl(0,0%,70%),
               0 5px hsl(0,0%,65%),
               0 5px 10px black;
}
/* 6.1 */
.btn-6-1 {
  display: inline-block;
  margin: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  color: white;
  background: #ff7873;
  cursor: pointer;
}
.btn-6-1.hit-area-border {
  box-sizing: content-box;
  border: 10px solid transparent;
  background-clip: padding-box;
}
.btn-6-1.hit-area {
  position: relative;
  margin: 14px;
}
.btn-6-1.hit-area::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}
/* 6.2 */
input.checkbox {
  /* 隐藏 input 元素 */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
input.checkbox + label {
  position: relative;
  cursor: pointer;
  padding-left: 1.4em;
  margin-right: 1em;
}
input.checkbox + label::before {
  position: absolute;
  left: 0;
  top: 0;
  font-family:'FontAwesome'; 
  content: '\f096'; /* fa-square-o */
  font-size: 1.2em;
  line-height: 100%; /* 重要，行高为文字的高度 */
}
input.checkbox:checked + label::before {
  content: '\f14a'; /* fa-check-square */
  color: #69c0ff;
}
/* 6.3 */
.scrolling-hints {
  display: inline-block;
  width: 12em;
  height: 8em;
  margin-right: 10px;
  overflow: auto;
  border: 1px solid #ccc;
}
.scrolling-hints li {
  list-style: none;
}
.scrolling-hints.step1 {
  background: radial-gradient(at top, rgba(0, 0, 0, .2), transparent 70%);
  background-size: 100% 15px;
  background-repeat: no-repeat;
}
.scrolling-hints.step2 {
  background: linear-gradient(#f8f8fd, #f8f8fd),
              radial-gradient(at top, rgba(0, 0, 0, .2), transparent 70%);
  background-size: 100% 15px;
  background-repeat: no-repeat;
  background-attachment: local, scroll; /*scroll为默认值*/
}
.scrolling-hints.step3 {
  background: linear-gradient(#f8f8fd 30%, transparent),
              radial-gradient(at top, rgba(0, 0, 0, .2), transparent 70%);
  background-size: 100% 50px, 100% 15px;
  background-repeat: no-repeat;
  background-attachment: local, scroll;
}
.scrolling-hints.step4 {
  background: linear-gradient(#f8f8fd 30%, transparent) 
                top / 100% 50px local,
              radial-gradient(at top, rgba(0, 0, 0, .2), transparent 70%) 
                top / 100% 15px scroll,
              linear-gradient(to top, #f8f8fd 30%, transparent) 
                bottom / 100% 50px local,
              radial-gradient(at bottom, rgba(0, 0, 0, .2), transparent 70%) 
                bottom / 100% 15px scroll;
  background-repeat: no-repeat;
}